*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
.env
k8s/overlays/*/config.env
k8s/overlays/*/secret.env
go.work
go.work.sum
storage/
vendor/
.idea/
.vscode/
.claude/