# Application
APP_ENV=$APP_ENV
APP_DEBUG=$APP_DEBUG
APP_NAME=$APP_NAME
APP_REPOSITORY=$APP_REPOSITORY
# Log
LOG_LEVEL=$LOG_LEVEL
LOG_DISABLE=$LOG_DISABLE
# Discord
DISCORD_WORKER_COUNT=$DISCORD_WORKER_COUNT
DISCORD_APP_ID=$DISCORD_APP_ID
# Postgres
DB_POSTGRES_DB=$DB_POSTGRES_DB
DB_POSTGRES_SSLMODE=$DB_POSTGRES_SSLMODE