name: Tests

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libopus-dev libopusfile-dev

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test -v -race -count=1 ./...
